<div class="jumbotron center">
	<div class= "container">
		<h1>Welcome to my app!</h1>
		<%= link_to "Log in", new_user_session_path, class:"btn btn-default" %>
          <%= link_to "Sign up", new_user_registration_path, class:"btn btn-danger" %>
	</div>
</div>

<body>

	

</body>

</html>
